<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <title>Garage V. Parrot</title>
</head>

<body>
    <div class="body">
        <header>
            <div class="header-container">
                <div class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Garage V. Parrot Logo">
                <img>
                </div>                <nav>
                    <ul>
                        <li><a href="/">Accueil</a></li>
                        <li><a href="/vehicles">Véhicules en vente</a></li>
                        <li><a href="/contact">Nous contacter</a></li>
                        {% if user_is_authenticated %}
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/logout">Se déconnecter</a></li>
                        {% else %}
                            <li><a href="/login">Se connecter</a></li>
                        {% endif %}
                        <li><a href="/services">Nos services</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <h1>Nos services</h1>
            <ul class="services-list">
                {% for service in services %}
                <li class="service-item">
                    <div class="service-info">
                        <h2>{{ service[0] }}</h2>
                        <p class="description">{{ service[1] }}</p>
                        <p class="price">Prix : {{ service[2] }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </main>

        <div id="footer-toggle" class="arrow">
            <span class="arrow-icon"></span>
        </div>
        <footer>
            <div class="footer-container">
                <div class="opening-hours">
                    <h3>Horaires d'ouverture :</h3>
                    <div class="days">
                        <div class="column">
                         <p>Lundi : {{ opening_hours[1] }}</p>
                         <p>Vendredi : {{ opening_hours[5] }}</p>
    
                        </div>
                        <div class="column">
                            <p>Mardi : {{ opening_hours[2] }}</p>
                            <p>Samedi : {{ opening_hours[6] }}</p>
    
    
                        </div>
                        <div class="column">
                            <p>Mercredi : {{ opening_hours[3] }}</p>
                            <p>Dimanche : {{ opening_hours[7] }}</p>
                        </div>
                        <div class="column">
    
                             <p>Jeudi : {{ opening_hours[4] }}</p>
                        </div>
                    </div>
                </div>
                <div class="contact-info">
                    <h3>Contact :</h3>
                    <a href="/contact">Nous contacter</a>
                    <a href="mailto:contact@garageparrot.com">contact@garageparrot.com</a>
                </div>
            </div>
        </footer>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/static/js/openinghours.js"></script>
<script src="/static/js/footerarrow.js"></script>

</body>
</html>
